/** 
* Styles for each individual algorithms page
*/

.alg__info__root {
  padding: 10px;
  width: 100%;
}

.back__arrow__container {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back__arrow__container img {
  height: 50px;
  width: 50px;
  margin: 0;
}

.back__arrow__container p {
  margin: -0.25rem 0 0 0;
}

a {
  text-decoration: none;
  color: black;
}

.back__arrow__container:hover {
  cursor: pointer;
}

.alg__info__content {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.alg__info__content iframe {
  width: 90%;
  max-width: 600px;
  height: 320px;
}

.alg__info__content h1 {
  font-weight: 300;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.alg__info__content p {
  font-size: 1.2rem;
  width: 90%;
  max-width: 600px;
  text-align: center;
}

.alg__pseudo__content h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

/**
* Pseudo-code styles
*/
.pseudo__container {
  background-color: #dcd9dc;
  padding: 20px;
  border-radius: 5px;
  overflow: scroll;
}

.pseudo__line {
  width: 100%;
  margin-bottom: 1px;
}

.line__number {
  margin-right: 1rem;
  color: darkgray;
}

.pseudo__line p {
  margin: 0;
  font-size: 1.25rem;
}

.variable {
  color: #5684ff;
}

.method {
  color: #9a9c12;
}

.comment {
  color: #42935b;
}

.key_word {
  color: #d63ef4;
}

.type {
  color: #00cb31;
}
