.algorithms__root {
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.algorithms__title {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 0;
}

.algorithms__subtitle {
  max-width: 35rem;
  width: 90%;
  margin: 5px 0;
  font-size: 1.25rem;
  color: #8e8e93;
}

.algorithms__card__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.algorithms__card {
  background-color: white;

  box-shadow: 1px 1px 12px lightgray;
  border-radius: 10px;
  padding: 15px;

  min-width: 25rem;
  width: 25rem;
  height: 12rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;

  transition: ease-in 0.2s;
}

.algorithms__card:hover {
  cursor: pointer;
  transform: translate(0, -1rem);
}

.algorithms__card img {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.algorithms__card h2 {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 890px) {
  .algorithms__card__container {
    flex-direction: column;
    justify-content: center;
  }

  .algorithms__card {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 420px) {
  .algorithms__card {
    width: 15rem;
    max-width: 15rem;
    min-width: 15rem;
  }
}

/**
* Reference styles
*/
.alg__references__container {
  margin-top: 3rem;
}

.alg__references__container h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
}

.alg__references__info {
  font-size: 1.25rem;
  margin: 10px 0 1rem 0;
  width: 95%;
  max-width: 500px;
  color: #8e8e93;
}

/**
* Each individual reference
*/

.reference {
  display: flex;
  align-items: center;

  background-color: white;

  width: 90%;
  max-width: 900px;

  margin: 1.5rem auto;
  padding: 10px;

  box-shadow: 1px 1px 12px darkgray;
  border-radius: 5px;

  transition: ease-in 0.2s;
}

.reference:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.reference img {
  height: 100px;
  width: 100px;
  margin-right: 1rem;
}

.reference__info h3 {
  margin: 0 0 -1rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.reference__info h4 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
}

.reference__info p {
  font-size: 1rem;
  margin: 5px 0 0 0;
  height: 4.25rem;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  color: #8e8e93;
}

.reference__info p::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 825px) {
  .reference {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .reference img,
  .reference h4 {
    margin-bottom: 1rem;
  }
}
