<link rel="stylesheet" href="./css/algorithms.css" />

<div class="algorithms__root">
  <h1 class="algorithms__title">Algorithms</h1>
  <p class="algorithms__subtitle">
    Dr. Kenneth Batcher has contributed two sorting algorithms to the computer
    science field. They are known as the Odd-Even Mergesort and the Bitonic
    Mergesort. Click on the algorithms for more information.
  </p>
  <div class="algorithms__card__container">
    <a href="index.php?page=odd_even">
      <div class="algorithms__card">
        <img src="./img/sort.png" />
        <h2>Odd Even Mergesort</h2>
      </div>
    </a>
    <a href="index.php?page=bitonic">
      <div class="algorithms__card">
        <img src="./img/merged.png" />
        <h2>Bitonic Mergesort</h2>
      </div>
    </a>
  </div>
  <div class="alg__references__container">
    <h2>References:</h2>
    <p class="alg__references__info">
      Below are some references to Batcher's algorithms. Scroll through the list
      and click on any reference to learn more about how these algorithms
      revolutionalized sorting and searching in the Computer Science world.
    </p>
    <a
      class="reference"
      href="https://proxy.library.kent.edu/login?url=https://search.ebscohost.com/login.aspx?direct=true&AuthType=ip&db=cat02286a&AN=kent.b5986614&site=eds-live&scope=site"
      target="_blank"
    >
      <img class="reference__img" src="./img/art_of_programming.jpeg" />
      <div class="reference__info">
        <h3>
          The Art of Computer Programming: Volume 3: Sorting and Searching
        </h3>
        <h4>Donald E. Knuth</h4>
        <p>
          This book addresses the performance of Batcher's odd-even mergesort
          and explains its benefits in great detail. It was Batcher's favorite
          explanation of his algorithm.
        </p>
      </div>
    </a>
    <a
      class="reference"
      href="https://developer.nvidia.com/gpugems/gpugems2/part-vi-simulation-and-numerical-algorithms/chapter-46-improved-gpu-sorting"
      target="_blank"
    >
      <img class="reference__img" src="./img/gpu_gems.jpg" />
      <div class="reference__info">
        <h3>GPU Gems 2</h3>
        <h4>Matt Pharr</h4>
        <p>
          Chapter 46 of this book describes how both the odd-even and bitonic
          mergesort algorithms are optimal since they are not data dependent.
        </p>
      </div>
    </a>
    <a
      class="reference"
      href="https://en.wikipedia.org/wiki/STARAN"
      target="_blank"
    >
      <img class="reference__img" src="./img/staran.jpeg" />
      <div class="reference__info">
        <h3>Staran Parallel Processor</h3>
        <h4>Goodyear Aerospace Corporation</h4>
        <p>
          Staran, and later the miniturized Aspro and later large scale MPP are
          high specialized purpose built super computers that employ versions of
          these algorithms in their design. Effort was made to allow for tool
          kits and compiler front ends on Staran and MPP to use them for
          different algorithms (beyond air traffic control) and this was
          somewhat successful for example satellite image processing used by
          MPP.
        </p>
      </div>
    </a>
    <a class="reference" target="_blank">
      <img class="reference__img" src="./img/xbox_logo.jpeg" />
      <div class="reference__info">
        <h3>Most Common Video Game Console Graphics</h3>
        <p>
          Many gaming consoles (such as XBOX Playstation) employ some sort of
          sorting function based on these key algorithms for rapid graphics
          rendering.
        </p>
      </div>
    </a>
  </div>
</div>
