<link rel="stylesheet" href="./css/algorithms.css" />

<div class="algorithms__root">
  <h1 class="algorithms__title">Algorithms</h1>
  <p class="algorithms__subtitle">
    Dr. Kenneth Batcher has contributed two sorting algorithms to the computer
    science field. They are known as the Odd-Even Mergesort and the Bitonic
    Mergesort. Click on the algorithms for more information.
  </p>
  <div class="algorithms__card__container">
    <a href="index.php?page=odd_even">
      <div class="algorithms__card">
        <img src="./img/sort.png" />
        <h2>Odd Even Mergesort</h2>
      </div>
    </a>
    <a href="index.php?page=bitonic">
      <div class="algorithms__card">
        <img src="./img/merged.png" />
        <h2>Bitonic Mergesort</h2>
      </div>
    </a>
  </div>
</div>
