<div id="Page1">
	<p1>
		“The Russians saved me!” laughed Dr. Johnnie Baker as he regaled me with the tales
		of his foundations in Computer Science, in a small “conference room” within the bowels
		of Kent State Universities Mathematical Sciences Building. Kenneth Batcher’s beginnings
		had the same roots within the urgency to compete scientifically with Russia.  In 1957,
		Sputnik 1 was launched by The Soviet Union, the first artificial Earth satellite to break
		into elliptical orbit. Ken Batcher had been working on an early version of a computer
		with Goodyear Aerospace at their Portsmouth Gaseous Diffusion Plant, producing uranium
		for the United States Atomic Energy Program. It was at this time Johnnie Baker remembered:
		<br>
		“the United States government thought they better put some money into math and science”
		<br>
		“and computers.” Added Dr. Batcher’s son. Dr. Kenneth Batcher jr. 
		<br>
		This is where Dr. Batcher senior had his start in the world and development in computing.
	</p1>

	<p2>
		Kenneth E. Batcher was born on December 27, 1935. Raised in the borough of Queens, New
		York City, he would never quite like the way of life in the city. Coming from a lineage of
		science and electronics, his father, Ralph R. Batcher was an early pioneer in the world of
		television, penning a column in the New York Sun for hobbyists to build their own versions
		of tube TVs. Graduating with a degree in Radio Engineering (Universities didn’t commonly
		offer electrical engineering degrees yet!) he spent both World Wars reverse engineering the
		technologies on the feared German U-Boat, in the intermittent and subsequent years he wrote
		his own notable work the “Electronic Engineering Handbook”. It was in this environment,
		where Ken Batcher’s was able to watch what is considered the first major new story to break
		on television: the attacks at Pearl Harbor. It was in this environment where Ken’s mind was
		fostered and able to flourish.
	</p2>
	
	<a href="#" onclick="return show('Page2','Page1');">Show page 2</a>
</div>

<div id="Page2" style="display:none">
	<p1>Some example text for testing</p1>
	<a href="#" onclick="return show('Page1','Page2');">Show page 1</a>
</div>


<aside id="bio-sidebar">
	<div>
		<h3>Patents and Awards</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec
		feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros,
		dapibus eget porta in, lacinia et magna</p>
	</div>
</aside>
