<link rel="stylesheet" href="../css/biography.css" />
<script src="../scripts/biography.js" defer></script>

<ul>
  <li>Introduction</li>
  <li>Early Life</li>
  <li>Education</li>
  <li>Career</li>
  <li>Contributions</li>
  <li>Awards</li>
  <li>Late Life</li>
</ul>

<div class="tab-content">
  <div id="introduction">
    <h1>Introduction</h1>
    <p>
      “The Russians saved me!” laughed Dr. Johnnie Baker as he regaled me with
      the tales of his foundations in Computer Science, in a small conference
      room within the bowels of Kent State University's Mathematical Sciences
      Building. Kenneth Batcher’s beginnings had the same roots within the
      urgency to compete scientifically with Russia. In 1957, Sputnik 1 was
      launched by The Soviet Union, the first artificial Earth satellite to
      break into elliptical orbit. Ken Batcher had been working on an early
      version of a computer with Goodyear Aerospace at their Portsmouth Gaseous
      Diffusion Plant, producing uranium for the United States Atomic Energy
      Program. It was at this time Johnnie Baker remembered:
      <br />
      “the United States government thought they better put some money into math
      and science”
      <br />
      “and computers.” Added Dr. Batcher’s son, Dr. Kenneth Batcher jr.
      <br />
      This is where Dr. Batcher senior had his start in the world and
      development in computing.
    </p>

    <p>
      Kenneth E. Batcher was born on December 27, 1935. Raised in the borough of
      Queens, New York City, he would never quite like the way of life in the
      city. Coming from a lineage of science and electronics, his father, Ralph
      R. Batcher was an early pioneer in the world of television, penning a
      column in the New York Sun for hobbyists to build their own versions of
      tube TVs. Graduating with a degree in Radio Engineering (Universities
      didn’t commonly offer electrical engineering degrees yet!) he spent both
      World Wars reverse engineering the technologies on the feared German
      U-Boat, in the intermittent and subsequent years he wrote his own notable
      work the “Electronic Engineering Handbook”. It was in this environment,
      where Ken Batcher’s was able to watch what is considered the first major
      new story to break on television: the attacks at Pearl Harbor. It was in
      this environment where Ken’s mind was fostered and able to flourish.
    </p>
  </div>
  <div id="early-life">
    <h1>Early Life</h1>
    <p>A description of Dr. Batcher's upbringing.</p>
  </div>
  <div id="education">
    <h1>Education</h1>
    <p>Outline of Dr. Batcher's education.</p>
  </div>
  <div id="career">
    <h1>Career</h1>
    <p>A description of Dr. Batcher's career path.</p>
  </div>
  <div id="contributions">
    <h1>Contributions</h1>
    <p>Overview of Dr. Batcher's impact on the Computer Science field.</p>
  </div>
  <div id="awards">
    <h1>Awards</h1>
    <p>A list of Dr. Batcher’s awards and commendations.</p>
  </div>
  <div id="late-life">
    <h1>Late Life</h1>
    <p>Description of Dr. Batcher’s later years.</p>
  </div>
</div>
