<link rel="stylesheet" href="./css/style.css">

	<script>
		function show(shown, hidden) {
			document.getElementById(shown).style.display='block';
			document.getElementById(hidden).style.display='none';
			return false;
		}
	</script>

<div id="bio-page">
<ul>
  <li><a class="active" href="#introduction">Introduction</a></li>
  <li><a href="#early-life">Early Life</a></li>
  <li><a href="#education">Education</a></li>
  <li><a href="#career">Career</a></li>
  <li><a href="#contributions">Contributions</a></li>
  <li><a href="#awards">Awards</a></li>
  <li><a href="#late-life">Late Life</a></li>
</ul>


<div style="margin-left:25%;padding:1px 16px;">
  <div id="introduction">
    <h1 align="center">Introduction</h1>
    <p>
      “The Russians saved me!” laughed Dr. Johnnie Baker as he regaled me with
      the tales of his foundations in Computer Science, in a small conference
      room within the bowels of Kent State University's Mathematical Sciences
      Building. Kenneth Batcher’s beginnings had the same roots within the
      urgency to compete scientifically with Russia. In 1957, Sputnik 1 was
      launched by The Soviet Union, the first artificial Earth satellite to
      break into elliptical orbit. Ken Batcher had been working on an early
      version of a computer with Goodyear Aerospace at their Portsmouth Gaseous
      Diffusion Plant, producing uranium for the United States Atomic Energy
      Program. It was at this time Johnnie Baker remembered:
      <br />
      “the United States government thought they better put some money into math
      and science”
      <br />
      “and computers.” Added Dr. Batcher’s son, Dr. Kenneth Batcher jr.
      <br />
      This is where Dr. Batcher senior had his start in the world and
      development in computing.
    </p>

    <p>
      Kenneth E. Batcher was born on December 27, 1935. Raised in the borough of
      Queens, New York City, he would never quite like the way of life in the
      city. Coming from a lineage of science and electronics, his father,
			<a href = "https://www.earlytelevision.org/batcher_articles.html" target = "_blank">Ralph R. Batcher</a>
			 was an early pioneer in the world of television, penning a
      column in the New York Sun for hobbyists to build their own versions of
      tube TVs. Graduating with a degree in Radio Engineering (Universities
      didn’t commonly offer electrical engineering degrees yet!) he spent both
      World Wars reverse engineering the technologies on the feared German
      U-Boat, in the intermittent and subsequent years he wrote his own notable
      work the “Electronic Engineering Handbook”. It was in this environment,
      where Ken Batcher’s was able to watch what is considered the first major
      new story to break on television: the attacks at Pearl Harbor. It was in
      this environment where Ken’s mind was fostered and able to flourish.
    </p>
  </div>
  <div id="early-life">
		<h1 align="center">Early Life</h1>

	<p>
		Ken Batcher was born in December 1935 in Queens, New York City to Louis and
		Ralph Batcher.His parents met at Iowa State University and later relocated to New York City after graduation.
		His father, Ralph R. Batcher, was the Chief Engineer of The A. H. Grebe Radio Company until its bankruptcy in 1932.

	</P>
  </div>
  <div id="education">
		<h1 align="center">Education</h1>
		<p>Batcher graduated from Iowa State University with B.E. degree in 1957. In 1964,
			Batcher received his Ph.D. in electrical engineering from the University of Illinois.</p>
		<p align="center">
			1953 High School Diploma - <a href = "http://www.bths.edu/" target = "_blank">Brooklyn Technical High School, Brooklyn, NY</a>.</p>
			<p align="center">
			1957 B.S.E.E. - <a href = "http://www.iastate.edu/" target = "_blank">Iowa State University, Ames, IA</a></p>
			<p align="center">
			1962 M.S. - <a href = "http://www.uiuc.edu/" target = "_blank">University of Illinois, Urbana-Champaign, IL</a></p>
			<p align="center">
			1964 Ph.D. - <a href = "http://www.uiuc.edu/" target = "_blank">University of Illinois, Urbana-Champaign, IL</a></p>

		</p>
  </div>
  <div id="career">
		<h1 align="center">Career</h1>
		<p>
			He worked for Goodyear Aerospace as a Computer Engineer and later as a professor at Kent State University (since 1989). 

		</p>
  </div>
  <div id="contributions">
	<h1 align="center">Contributions</h1>
	<p>
	  Dr. Kenneth E. Batcher was a figurehead in the field of Computer
	  Science. He made numerous contributions and has left a lasting web of
	  influence on those he spent his time with and with the community at
	  large.
	</p>

	<p>
	  While working at Goodyear Aerospace and later at Kent State
	  University, Dr. Batcher’s mainstay was the areas of parallel
	  computation and associative computing. Associative computing is a term
	  created by Dr. Jerry Potter who worked closely with Dr. Batcher, and
	  the term essentially refers to everything in the realm of
	  computational parallelization, the use of both data parallel
	  programming and the ability to search memory by data content rather
	  than memory address[<a href = "https://dl.acm.org/doi/10.5555/2591468.2591484" target = "_blank">1</a>].
	</p>

	<p>
	  Some of the most impactful projects that Dr. Batcher was involved with
	  were the development of two SIMD (single instruction, multiple data)
	  parallel processors known as the STARAN and the Massively Parallel
	  Processor (MPP), both of which were developed through Goodyear
	  Aerospace. These works later inspired the Goodyear ASPRO system, which
	  Dr. Batcher helped design initially before transitioning to Kent State
	  University [<a href = "https://www.computer.org/profiles/kenneth-batcher" target = "_blank">2</a>][<a href = "https://en.wikipedia.org/wiki/Ken_Batcher" target = "_blank">3</a>].
	</p>

	<p>
	  The STARAN was one of the first major computers designed around
	  associative memory, and Dr. Batcher was its chief architect. It was
	  built around 1972 [<a href = "https://www.computer.org/profiles/kenneth-batcher" target = "_blank">2</a>] and its main application was in Air Traffic
	  Control (ATC) systems. STARAN had multiple generations and was used by
	  Goodyear as a basis for research for at least 30 years [<a href = "http://batcher.subspacehorizons.com/index.php?page=bio#education" target = "_blank">7</a>].
	</p>

	<p>
	  Following STARAN around 1983 [<a href = "https://www.computer.org/profiles/kenneth-batcher" target = "_blank">2</a>], was the Goodyear Massively Parallel
	  Processor (MPP). The MPP was originally built for NASA and was based
	  around earlier technology developed for the STARAN [<a href = "http://batcher.subspacehorizons.com/index.php?page=bio#education" target = "_blank">8</a>]. The MPP was
	  initially designed to quickly process satellite images, but it also
	  found many other research and project applications through NASA [<a href = "https://en.wikipedia.org/wiki/Goodyear_MPP" target = "_blank">9</a>].
	  Only one MPP was ever developed and is now held within the Smithsonian
	  near the Space Shuttle Discovery [<a href = "https://en.wikipedia.org/wiki/Steven_F._Udvar-Hazy_Center" target = "_blank">10</a>].
	</p>

	<p>
	  Finally, the ASPRO was a second generation STARAN that was developed
	  around the time Dr. Batcher transitioned to Kent State University in
	  1989. While he did not head the development of the ASPRO, he still
	  worked closely with Goodyear in completing the system [<a href = "https://www.facebook.com/KSUCSDept/posts/we-are-sad-to-report-that-our-beloved-colleague-kenneth-e-batcher-a-faculty-emer/10157588540029712/" target = "_blank">11</a>]. The ASPRO
	  itself was built specifically for use by the U.S. Navy for
	  surveillance, and it was even installed in Hawkeye Radar Planes in
	  order to provide ATC at sea and track enemy targets. It is estimated
	  that around 750 ASPROs were developed [<a href = "http://batcher.subspacehorizons.com/index.php?page=bio#education" target = "_blank">12</a>].
	</p>

	<p>
	  Dr. Batcher is also credited with discovering two parallel sorting
	  algorithms: the odd-even mergesort and the bitonic mergesort [<a href = "https://en.wikipedia.org/wiki/Ken_Batcher" target = "_blank">3</a>].
	  Odd-even mergesort is an algorithm for sorting networks of size O(n
	  (log n)2) and depth O((log n)2) [<a href = "https://en.wikipedia.org/wiki/Batcher_odd%E2%80%93even_mergesort" target = "_blank">4</a>]. Meanwhile, bitonic mergesort is
	  essentially a parallel version [<a href = "https://en.wikipedia.org/wiki/Bitonic_sorter" target = "_blank">5</a>] which the STARAN, MPP, and ASPRO
	  all utilized in some variation [<a href = "http://batcher.subspacehorizons.com/index.php?page=bio#education" target = "_blank">6</a>].
	</p>

	<p>
	  Throughout his career, Dr. Batcher invented and co-invented 14 U.S.
	  patents:
	  <ul>
		<li>3,183,363 Logic Mechanization System 1965 (multiple inventors)</li>
		<li>3,300,762 Multiple Response Resolver Apparatus 1967</li>
		<li>3,418,632 Means for Merging Sequences of Data 1968</li>
		<li>3,428,946 Means for Merging Data 1969</li>
		<li>3,605,024 Apparatus for Shifting Data in a Long Register 1971</li>
		<li> 3,681,781 Storing and Retrieval Method 1972</li>
		<li>3,711,692 Determination of Number of Ones in a Data Field by Addition 1973</li>
		<li>3,786,448 Multiple Access Plated Wire Memory 1974 (multiple inventors)</li>
		<li>3,800,289 Multi-Dimensional Access Solid State Memory 1974</li>
		<li>3,812,467 Permutation Network 1974</li>
		<li>3,936,806 Solid State Associative Processor Organization 1976</li>
		<li>4,314,349 Processing Element for Parallel Array Processors 1982</li>
		<li>4,727,474 Staging Memory for Massively Parallel Processor 1988</li>
		<li>5,153,843 Layout of Large Multistage Interconnection Networks 1992</li>
	  </ul>
	</p>

	<p>
	  Dr. Batcher has also authored and co-authored a plethora of publications that can be found through our archive page!
	</p>

  </div>
  <div id="awards">
	<h1 align="center">Awards</h1>
	<h2>Arnstein Award - 1980</h2>
	<p>
	  Presented by Goodyear Aerospace Corporation for technical achievement.
	<br/>
	  [<a href = "http://batcher.subspacehorizons.com/index.php?page=faculty-page" target = "_blank">Faculty Website</a>]
	</p>

	<h2>Eckert-Mauchly Award - 1990</h2>
	<p>
	  “For contributions to parallel computer architecture, both for pioneering theories in
	  interconnection networks and for the pioneering implementations of parallel computers.”
	<br/>
	  [<a href = "https://www.computer.org/profiles/kenneth-batcher" target = "_blank">IEEE</a>]
	</p>

	<h2>Seymour Cray Award - 2007</h2>
	<p>
	  “For fundamental theoretical and practical contributions to massively parallel computation,
	  including parallel sorting algorithms, interconnection networks,
	  and pioneering designs, of the STARAN and MPP computers.”
	  <br/>
	  [<a href = "https://www.computer.org/profiles/kenneth-batcher" target = "_blank">IEEE</a>]
	</p>

	<h2>Test of Time Award - 2021</h2>
	<p>
	  “Dr. Kenneth Batcher has recently received another award for his research.
	  The International Conference for Parallel Processing (ICPP) had its fiftieth
	  meeting about a month ago. They had a committee of several of their more
	  distinguished members to review all the research papers that had been accepted
	  for presentation at ICPP. Only three papers were selected to receive their
	  "Test of Time" award.”
	<br/>
	  [<a href = "http://batcher.subspacehorizons.com/index.php?page=bio" target = "_blank">Source</a>]
	</p>
  </div>
  <div id="late-life">
	<h1 align="center">Late Life</h1>
	<p>
	  Dr. Kenneth Edward Batcher passed away in Stow, Ohio on August 22, 2019.
	  Ken was 83 years old when he passed, and per his wishes, his body was donated
	  to the Northeast Ohio Medical University to help further medical scientific
	  studies. His obituary can be found on the <a href = "https://www.legacy.com/us/obituaries/ohio/name/kenneth-batcher-obituary?id=11701396" target = "_blank">Akron Beacon Journal website</a>, where
	  contributions can also be made in his memory to the Department of Anatomy and Neurobiology.
	</p>

	<p>
	  He is survived by his wife, Slyvia Batcher; his daughter, Joan Booth; his son, Kenneth W. Batcher;
	  his grandchildren, Joshua, Lenora, Victoria, and Noah Batcher; and his brother, Noah Batcher.
	</p>
  </div>
</div>
</div>
