<link rel="stylesheet" href="./css/algorithm__info.css" />

<div class="alg__info__root">
  <a href="index.php?page=algorithms">
    <div class="back__arrow__container">
      <img src="./img/left-icon.png" />
      <p>Back</p>
    </div>
  </a>
  <div class="alg__info__content">
    <h1>Bitonic Merge Sort</h1>
    <iframe
      src="https://www.youtube.com/embed/r-erNO-WICo"
      title="Bitonic Mergesort"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p>
      Bitonic mergesort is a parallel algorithm for sorting. It is also used as
      a construction method for building a sorting network. The algorithm was
      devised by Ken Batcher. The resulting sorting networks consist of O(n
      log<sup>2</sup>(n)) comparators and have a delay of O(n
      log<sup>2</sup>(n)), where n is the number of items to be sorted.
    </p>
  </div>
</div>
