<link rel="stylesheet" href="./css/algorithm__info.css" />

<div class="alg__info__root">
  <a href="index.php?page=algorithms">
    <div class="back__arrow__container">
      <img src="./img/left-icon.png" />
      <p>Back</p>
    </div>
  </a>
  <div class="alg__info__content">
    <h1>Bitonic Merge Sort</h1>
    <iframe
      src="https://www.youtube.com/embed/r-erNO-WICo"
      title="Bitonic Mergesort"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p>
      The bitonic merge sort is a parallel algorithm for sorting devised by Dr.
      Batcher. It can be used as a construction method to build a sorting
      network. The resulting sorting networks consist of O(n log<sup>2</sup>(n))
      comparators and have a delay of O(log<sup>2</sup>(n)).
    </p>
  </div>
  <div class="alg__pseudo__content">
    <h2>Pseudocode:</h2>
    <div class="pseudo__container">
      <div class="pseudo__line">
        <p>
          <span class="line__number">1</span>
          <span class="key_word">for</span> ( <span class="variable">k</span> =
          2; <span class="variable">k</span> <= <span class="variable">n</span>;
          <span class="variable">k</span> * =2 )
          <span class="comment">// k is doubled every iteration</span>
        </p>
      </div>
      <div class="pseudo__line">
        <p>
          <span class="line__number">2</span>&nbsp; &nbsp;
          <span class="key_word">for</span> ( <span class="variable">j</span> =
          <span class="variable">k</span> / 2; <span class="variable">j</span> >
          0; <span class="variable">j</span> /= 2 )
          <span class="comment"> // j is halved every iteration</span>
        </p>
      </div>
      <div class="pseudo__line">
        <p>
          <span class="line__number">3</span>&nbsp; &nbsp; &nbsp; &nbsp;
          <span class="key_word">for</span>
          ( <span class="variable">i</span> = 0;
          <span class="variable">i</span> < <span class="variable">n</span>;
          <span class="variable">i</span>++ )
        </p>
      </div>
      <div class="pseudo__line">
        <p>
          <span class="line__number">4</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; <span class="variable">l</span> =
          <span class="variable">i</span> ^ <span class="variable">j</span>
        </p>
      </div>
      <div class="pseudo__line">
        <p>
          <span class="line__number">3</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; <span class="key_word">if</span> (
          <span class="variable">l</span> > <span class="variable">i</span> )
        </p>
      </div>
      <div class="pseudo__line">
        <p>
          <span class="line__number">4</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; <span class="key_word">if</span> ( (
          <span class="variable">i</span> ^ <span class="variable">k</span> == 0
          <span class="operator">AND</span> <span class="type">arr</span>[
          <span class="variable">i</span> ] > <span class="type">arr</span>[
          <span class="variable">l</span> ]) <span class="operator">OR</span> (
          <span class="variable">i</span> ^ <span class="variable">k</span> != 0
          <span class="operator">AND</span> <span class="type">arr</span>[
          <span class="variable">i</span> ] < <span class="type">arr</span>[
          <span class="variable">l</span> ]) )
        </p>
      </div>
      <div class="pseudo__line">
        <p>
          <span class="line__number">5</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; swap the elements in
          <span class="type">arr</span>[ <span class="variable">i</span> ] and
          <span class="type">arr</span>[ <span class="variable">l</span> ]
        </p>
      </div>
    </div>
  </div>
  <div class="alg__references__container">
    <h2>References:</h2>
    <p class="alg__references__info">
      Below are references to the bitonic mergesort algorithm. These references
      include resources to learn more about the algorithm as well as systems
      that utilize the algorithm.
    </p>
  </div>
</div>
