<p>
Book chapters authored by Kenneth E. Batcher.
<hr>
<ol>

<li> <em>   The STARAN Computer</em>,   Infotech State of the Art 
Report on Supercomputers, vol. 2, pp 33-49, 1979.

<li> <em>   MPP: A High-Speed Image Processor</em>,   
Algorithmically Specialized Parallel Computers, edited by Snyder, 
Jamieson, Gannon, and Siegel, Academic Press, 1985,  pp 59-68.

<li> <em>   The Massively Parallel Processor System Overview</em>,    
The Massively Parallel Processor , edited by J. L. Potter, The MIT 
Press, 1985, pp 142-149.

<li> <em>   Array Unit</em>,   The Massively Parallel Processor  edited 
by J. L. Potter, The MIT Press, 1985, pp 150-169.

<li> <em>   Array Control Unit</em>,   The Massively Parallel Processor  
edited by J. L. Potter, The MIT Press, 1985, pp 170-190.

<li> <em>   Staging Memory</em>,   The Massively Parallel Processor  
edited by J. L. Potter, The MIT Press, 1985, pp 191-204.

<li> <em>   MPP System Software</em>,   The Massively Parallel 
Processor  edited by J. L. Potter, The MIT Press, 1985, pp 261-275.

<li> <em> Retrospective: Architecture of a Massively Parallel
Processor</em>, 25 Years of the Int'l. Symposia on Computer
Architecture - Selected Papers, ed. Gurindar Sohi, ACM Press, 1998,
pp 15-16.

</ol>
<hr>
<A HREF="index.html">Kenneth E. Batcher</A> - 5/25/99