<p>
Papers delivered at conferences authored or co-authored by
Kenneth E. Batcher.
<hr>
<ol>
<li> <A HREF="/~batcher/sort.ps">
<em>Sorting Networks and their Applications</em></A>, 1968 Spring 
Joint Computer Conference,  AFIPS Proc. vol. 32, pp 307-314.

<li> <em> Flexible Parallel Processing and STARAN</em>, 1972 
WESCON Technical Papers, Session 1.

<li> <em> STARAN/RADCAP Hardware Architecture</em>, 1973 
Sagamore Computer Conf. on Parallel Processing,  pp 147-152.

<li> <em> STARAN Parallel Processor System Hardware</em>, 1974 
National Computer Conf., AFIPS Proc. vol. 43, pp 405-410.

<li> <em> The Multi-Dimensional Access Memory in STARAN</em>, 
1975 Sagamore Computer Conf. on Parallel Processing,  p 167.

<li> <em> The Flip Network in STARAN</em>, 1976 Int'l. Conf. on 
Parallel Processing,  pp 65-71.

<li> <em> STARAN Series E</em>, 1977 Int'l. Conf. on Parallel 
Processing,  pp 140-143.

<li> <em> MPP - A Massively Parallel Processor</em>, 1979 Int'l. 
Conf. on Parallel Processing,  p 249.

<li> <em> The Massively Parallel Processor (MPP) System</em>, 
AIAA Second Computers in Aerospace Conf., pp 93-97, Oct. 1979.

<li> <em> Architecture of a Massively Parallel Processor</em>, 
Seventh Int'l. Symposium on Computer Architecture, pp 168-173, 
May 1980. Reprinted in `Selected Papers of 25 Years of the
Int'l. Symposia on Computer Architecture`, ed. Gurindar Sohi, ACM 
Press, 1998, pp 174-179.

<li> <em> MPP: A Supersystem for Satellite Image Processing</em>, 
1982 National Computer Conf., AFIPS Proc. vol. 51, pp 185-191.

<li> <em> Architecture of the MPP</em>, 1983 IEEE Computer Society 
Workshop on Computer Architecture for Pattern Analysis and Image 
Data Base Management (CAPAIDM),  pp 170-174.

<li> <em> The MPP Staging Memory</em>, 1984 Int'l. Conf. on Parallel 
Processing,  pp 496-498.

<li> <em> The Massively Parallel Processor (MPP)</em>, IEEE Spring 
Compcon 1985,  pp 21-24.

<li> <em> VLSI in the Massively Parallel Processor</em>,  Advanced 
Research in VLSI: Proceedings of the Fourth MIT Conference,  edited 
by C. E. Leiserson, MIT Press, April 1986,  p 235.

<li> <em> The Architecture of Tomorrow's Massively Parallel 
Computer</em>, Invited Keynote Address at the Frontiers of 
Massively Parallel Scientific Computation Conference,  NASA 
Conference Publication 2478, Sept. 1986,  pp 151-157.

<li> <em> The MPP in the Future</em>, Sixth Annual Int'l. Phoenix 
Conf. on Computers and Communications, Feb. 1987, pp 60-62.

<li> <em> On Bitonic Sorting Networks</em>, 1990 Int'l. Conf. on 
Parallel Processing, vol. I,  pp 376-379.

<li> <em> Decomposition of Perfect Shuffle Networks</em>, 1991 
Int'l. Conf. on Parallel Processing, vol. I,  pp 255-262.

<li> <em> Multiple Fault Tolerant Cube-Connected Cycles 
Networks</em>, 1991 Int'l. Conf. on Parallel Processing,  vol. I,  pp 
327-330, (co-authored with C. Jimmy Shih).

<li> <em> A Modulo Merge Sorting Network</em>, Fourth Symposium 
on the Frontiers of Massively Parallel Computation (Frontiers 92),  
pp 164-169, IEEE Computer Society Press, Oct. 1992 (co-authored 
with Kathy J. Liszka).

<li> <em> Low-cost Flexible Simulation with the Static Perfect 
Shuffle Network</em>, Fourth Symposium on the Frontiers of 
Massively Parallel Computation (Frontiers 92),  pp 434-441, IEEE 
Computer Society Press, Oct. 1992.

<li> <em> A Generalized Bitonic Sorting Network</em>, 1993 Int'l. 
Conf. on Parallel Processing,  vol. I, pp 105-108, Aug. 1993 
(co-authored with Kathy J. Liszka).

<li> <em> On the Bit-Level Complexity of Bitonic Sorting 
Networks</em>, 1993 Int'l. Conf. on Parallel Processing, vol. III, pp 
209-213,  Aug. 1993 (co-authored with Majed Al-Hajery).

<li> <em> Multicast Bitonic Network</em>, Fifth IEEE Symp. on 
Parallel and Distributed Processing, pp 320-326, Sep. 1993 
(co-authored with Majed Al-Hajery).

<li> <em> Low Cost Complexity of k-bits Bitonic Sorting 
Network</em>, Sixth Int'l. Conf. on Parallel and Distributed 
Computing Systems, pp 443-447, Oct. 1993 (co-authored with Majed 
Al-Hajery).

<li> <em> Low Cost Complexity of a General Multicast Network</em>, 
Eighth Annual Int'l. Parallel Processing Symposium, pp 23-29, Apr. 
1994 (co-authored with Majed Al-Hajery).

<li> <em> On Sorting Multiple Bitonic Sequences</em>, 1994 Int'l. 
Conf. on Parallel Processing, vol. I, pp 121-125,  Aug. 1994 
(co-authored with De-Lei Lee).

<li> <em> SIMD or MIMD?</em>, Invited Plenary Address at the 
Seventh Int'l. Conf. on Parallel and Distributed Computing Systems, 
Oct. 1994. 

<li> <em>Partitioning the Recirculating Shuffle-Exchange 
Network</em>, Seventh Int'l. Conf. on Parallel and Distributed 
Computing Systems, pp 22-27, Oct. 1994 (co-authored with 
Jae-dong Lee).

<li> <em> On the Multicast Routing in Bit-Serial Sorting 
Networks</em>, Seventh Int'l. Conf. on Parallel and Distributed 
Computing Systems, pp 446-453, Oct. 1994 (co-authored with Majed 
Al-Hajery).

<li> <em> Simplifying Multistage Hardware Interconnections in 
the Bitonic Sorting Network</em>, Seventh IASTED/ISMM Int'l. 
Conf. on Parallel and Distributed Computing and Systems, pp 
138-142, Oct. 1995 (co-authored with Jae-Dong Lee).

<li> <em>Fault Detection in Bitonic Sorting Networks,</em> Seventh 
IEEE Symposium on Parallel and Distributed Processing, pp 266-270, 
Oct. 1995 (co-auhored with Hongin Choi). 

<li> <em>Bitonic Sorting on Benes Networks,</em> Tenth Int'l. 
Parallel Processing Symposium (IPPS '96), pp 749-753, Apr. 1996 
(co-authored with Beverly M. Gocal).

<li><em>A Bitonic Sorting Network with Simpler 
Flip-Interconnections</em>, Second Int'l. Symp. on Parallel 
Architectures, Algorithms, and Networks (I-SPAN '96), pp 104-109, 
June 1996 (co-authored with Jae-Dong Lee).

<li> <em>Minimizing Communication of a Recirculating Bitonic 
Sorting Network</em>, 1996 Int'l. Conf. on Parallel Processing, vol. 
I, pp 251-254,  Aug. 1996 (co-authored with Jae-Dong Lee).

<li> <em>Using the Quartet property to design recursively expandable optical switches</em>,
Proceedings of the International Society for Optical Engineering - (SPIE 2001),
(co-authored with M. Rahmani).

<li><em>Fallacies and Pitfalls in Building Supercomputers</em>,
Invited Plenary Address at the International Conference for High Performance Computing,
Networking, Storage and Analysis (SC07), 2007.


</ol>
<hr>
<A 
HREF="http://www.mcs.kent.edu/~batcher/index.html"> 
Kenneth E. Batcher</A> - 11/29/2008 