<P>
<H2>Kenneth E. Batcher</H2>
Emeritus Professor
<P>
<center><TABLE BORDER>
<TR><TD ROWSPAN=4>
<A HREF="keb3.jpg"><img src="./img/keb3.jpg" height=150></A></TD>

<TD><B>Office:</B> Room 266 MSB</TD>

<TD ROWSPAN=4><B>Snail Mail:</B><p>
Prof. Kenneth E. Batcher <br>
Dept. of Computer Science <br>
Kent State University <br>
P.O. Box 5190 <br>
Kent OH 44242-0001</TD>

<TD ROWSPAN=4><B>Address for Fedex, UPS,  etc:</B><p>
Prof. Kenneth E. Batcher<br>
Dept. of Computer Science<br>
Kent State University<br>
1455 E. Summit St.<br>
Kent OH 44242-0001</TD>

</TR>
<TR><TD><B>Phone:</B> (330) 672-9064</TD></TR>
<TR><TD><B>FAX:</B> (330) 672-0737</TD></TR>
<TR><TD ALIGN=CENTER><B>E-mail</B><br> 
kbatcher@kent.edu</TD></TR>
</TABLE></center>
<hr>
<a href="Scholarships2015.html">Click here for information about the ACESS STEM Scholarships.</a>
<hr>
Dr. Batcher received a B.S.E.E. degree from Iowa State University in 
1957 and M.S. and Ph.D. degrees from the University of Illinois in 
1962 and 1964, respectively.  He worked in the Computer 
Engineering Department of Goodyear Aerospace Corporation (later 
Loral Defense Systems Division, now Lockheed-Martin Tactical 
Defense Systems Division) for 28 years where he developed the 
architectures of two SIMD parallel processors: the STARAN (1972) 
and the MPP (1983).  From 1989 to 2009 he was a member of the faculty at Kent State 
University.  
<p>
He is the author of several technical papers and has 14 
patents.  <A HREF="/~batcher/sort.pdf">He discovered two parallel 
sorting algorithms: the odd-even mergesort and the bitonic 
mergesort.</A>  He also discovered a method of scrambling data in a 
random access memory to allow accesses along multiple dimensions; 
these memories were used in the STARAN and the MPP.  
<p>
In 1990, Dr. Batcher was awarded the Eckert-Mauchly Award from the ACM and 
the IEEE Computer Society &quot;for the pioneering implementation 
of parallel computers and for contributions to interconnection 
network theory.&quot;  
In 2007, he was awarded the Seymour Cray Computer Science &amp; Engineering Award 
from the IEEE Computer Society &quot;for the fundamental theoretical and practical 
contributions to massively parallel computation, including parallel sorting 
algorithms, interconnection networks, and pioneering designs of the 
STARAN and MPP computers.&quot;  
He is a Fellow in the ACM and a member of SIGARCH.
<P>
<HR>
<P>
<H4>Education</H4>
<P>
<UL>
<LI>1953 High School Diploma - <A 
HREF="http://www.bths.edu/">Brooklyn 
Technical High School,</A> Brooklyn, NY.</LI>
<LI>1957 B.S.E.E. - <A 
HREF="http://www.iastate.edu/">Iowa State University,</A> Ames, 
IA</LI>
<LI>1962 M.S. - <A 
HREF="http://www.uiuc.edu/">University of Illinois,</A> 
Urbana-Champaign, IL</LI>
<LI>1964 Ph.D. - <A 
HREF="http://www.uiuc.edu/">University of Illinois,</A> 
Urbana-Champaign, IL</LI>
</UL>
<P>
<H4>Publications</H4>
<ul>
<li> <A HREF="conf.html">Conference Presentations</A> 
(including a link to the 1968 paper on Sorting Networks).
<P>
<li> <A HREF="journal.html">Journal Articles</A>
<P>
<li> <A HREF="book.html">Book Chapters</A>
<P>
<li><A HREF="patents.html">U.S. Patents</A>
</ul>
<H4>Ph. D. Dissertations Supervised</H4> 
<P>
Jimmy Shih, &quot;Adding Fault Tolerance to Cube-Connected
Cycles Networks,&quot; August 1991.
<P>
Kathy Liszka, &quot;Generalizing Bitonic and Odd-Even Merging 
Networks,&quot; August 1992.
<P>
Majed Al-Hajery, &quot;Bit-Level Bitonic Sorting Networks and their
Role in Wormhole Multicast Routing,&quot; August 1994.
<P>
Koung Goo Lee, &quot;Routing Algorithms on Shuffle Exchange 
Networks,&quot; May 1996.
<p>
Jae-Dong Lee, &quot;Minimizing Communication in the Bitonic 
Sort,&quot; May 1996.
<p>
Beverly M. Gocal, &quot;On Routing Clos Networks,&quot; 
December 1996.
<p>
Hongin Choi, &quot;Fault Tolerance in Bitonic Sorting Networks and
Static Shuffle-Exchange Networks,&quot; August 1997.
<p>
Mostafa Rahmani, &quot;The Quartet Property in Multistage Interconnection Networks&quot; May 2005.
<p>
Sherenaz W. Al-Haj Baddar, "Finding Better Sorting Networks" May 2009.
<p>
<H4>Grants</H4>
<P>
NSF MIP-9004127 Perfect Shuffle Machines
<P>
<H4>Professional Activities</H4>
<P>
Fellow in the Association for Computing Machinery (ACM).
<BR> 
Past-Chairman of the Cuyahoga Valley section of the ACM.
<BR> 
Member of the Special Interest Group on Computer 
Architecture (SIGARCH).
<BR> 
1982 International Conference on Parallel Processing - Program
Co-chairman.
<BR>
1992 Fourth Symposium on the Frontiers of Massively 
Parallel Computation (Frontiers 92) - Program Co-Chair 
(Architecture) 
<BR> 
Akron Council of Engineering and Scientific Societies (ACESS)
<BR> 
Local ACM section representative to ACESS
<BR> 
1993-1994 President of ACESS
<BR> 
2009-2010 President of ACESS
<P>
<H4>Awards</H4>  
<P>
1980 - Arnstein Award presented by Goodyear Aerospace Corporation for 
technical achievement.
<P>
1990 - Eckert-Mauchly Award presented by the ACM and the IEEE 
Computer Society &quot;for the pioneering implementation of parallel 
computers and for contributions to interconnection network theory.&quot;
<P>
2007 - Seymour Cray Computer Science &amp; Engineering Award presented by the 
IEEE Computer Society &quot;for the fundamental theoretical and practical 
contributions to massively parallel computation, including parallel sorting 
algorithms, interconnection networks, and pioneering designs of the 
STARAN and MPP computers.&quot;  
<HR>
Last update: 1/15/2015