
<div id="page-home" style="padding-top: 20px">
	<div>
		<img src="./img/staran_logo.png">
	<img src="./img/staran_add.png">
		<h3>STARAN</h3>
		<p> A Content Addressible Parallel Processor using content addressible memory. A version can be found on the EC-2 Hawkeye Radar Plane </p>
	</div>
	<div>
		<img src="./img/aspro-logo.png">
	<img src="./img/radar_retro.png">
		<h3>ASPRO</h3>
		<p>A "STARAN in a shoebox" the ASPRO computer was used in radar planes and used for air traffic control, including collision detection. </p>
	</div>
	<div>
		<img src="./img/goodyear_aerospace.png">
	<img src="./img/img_mountains_wide.jpg">
		<h3>Massively Parallel Processor</h3>
		<p>A supercomputer built by Goodyear Aerospace for the NASA Goddard Space Flight Center. It was designed to deliver enormous computational power at lower cost than other existing supercomputer architectures, by using thousands of simple processing elements, rather than one or a few highly complex CPUs.</p>
	</div>
</div>


















