<!-- Slideshow Container -->
<section id="Slideshow">
	<div class="sideshow-container">
		<!--Full-width images with number and caption text -->
		<div class="mySlides fade">
			<div class="numbertext">1/3</div>
			<img src="./img/staran_add.png" style="width:100%">
			<div class="text">Caption Text</div>
		</div>

		<div class="mySlides fade">
			<div class="numbertext">2/3</div>
			<img src="./img/radar_retro.png" style="width:100%">
			<div class="text">Caption Text</div>
		</div>

		<div class="mySlides fade">
			<div class="numbertext">3/3</div>
			<img src="./img/img_mountains_wide.jpg" style="width:100%">
			<div class="text">Caption Text</div>
		</div>

		<!--Next and previous buttons -->
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>
	<br>

	<!-- The dots/circles -->
	<div style="text-align:center">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
	</div>
</section>

<section id="boxes">
	<div class="container">
		<div class="box">
			<a id="staranPic" href="wine_table.html">
				<img src="./img/staran_logo.png">
			</a>
			<h3>STARAN</h3>
			<p> A Content Addressible Parallel Processor using content addressible memory. A version can be found on the EC-2 Hawkeye Radar Plane </p>
		</div>
		<div class="box">
			<a id="bitonicPic" href="wine_table.html">
				<img src="./img/aspro-logo.png">
			</a>
			<h3>ASPRO</h3>
			<p>A "STARAN in a shoebox" the ASPRO computer was used in radar planes and used for air traffic control, including collision detection. </p>
		</div>
		<div class="box">
			<a id="mppPic" href="wine_table.html">
				<img src="./img/goodyear_aerospace.png">
			</a>
			<h3>Massively Parallel Processor</h3>
			<p>A supercomputer built by Goodyear Aerospace for the NASA Goddard Space Flight Center. It was designed to deliver enormous computational power at lower cost than other existing supercomputer architectures, by using thousands of simple processing elements, rather than one or a few highly complex CPUs.</p>
		</div>
	</div>
</section>


















