<link rel="stylesheet" href="./css/home.css" />

<div class="home__root">
  <div class="home__section">
    <h1>Welcome to the Kenneth Batcher Memorial Website!</h1>
    <p>
      A memorial site for Professor Kenneth E. Batcher developed by Kent State
      CS Students. Professor Batcher was a beloved professor at Kent State
      University who has made significant contributions to the Computer Science
      Field. From academics, looking to reference Batcher's work, to upcoming
      students interested in learning more about Professor Batcher, we welcome
      all users!
    </p>
  </div>
  <div class="home__section">
    <h2>Academic Research</h2>
    <p>
      Looking for Batcher's work to reference for your research? Visit the
      <a href="index.php?page=archive">archive page</a> to dive deeper into
      references. You can also visit the
      <a href="index.php?page=algorithms">algorithms page</a> to learn more
      about Batcher's Odd-Even Mergesort and Bitonic Mergesort Algorithms.
    </p>
  </div>
  <div class="home__section">
    <h2>Learn more about Professor Batcher</h2>
    <p>
      Want to learn more about Batcher's life and accomplishments? Visit the
      <a href="index.php?page=bio">biography page</a> for an in depth view. We
      have also made sure to preserve
      <a href="index.php?page=faculty-page">Batcher's Faculty Page</a> from when
      he taught at Kent State University.
    </p>
  </div>
</div>
