<p>
Journal articles authored or co-authored by Kenneth E. Batcher.
<hr>
<ol>

<li> <em> On the Number of Stable States in a NOR Network</em>,     
IEEE Trans. on Computers, vol. EC-14, no. 6, pp 931-932, Dec. 1965.

<li> <em> The Multi-Dimensional Access Memory in STARAN</em>,     
IEEE Trans. on Computers,  vol. C-26, no. 2, pp 174-177, Feb. 1977.

<li> <em> Design of a Massively Parallel Processor</em>, IEEE Trans. 
on Computers, vol. C-29,  no. 9, pp 836-840, Sept. 1980.

<li> <em> Bit-Serial Parallel Processing Systems</em>, IEEE Trans. on 
Computers, vol. C-31, no. 5, pp 377-384, May 1982.

<li> <em> Adding Multiple-Fault Tolerance to Generalized Cube 
Networks</em>, IEEE Trans. on  Parallel and Distributed Systems vol. 
5, no. 8,  pp 785-792, Aug. 1994 (co-authored with C. J. Shih).

<li> <em> A Multiway Merge Sorting Network</em>, IEEE Trans. on 
Parallel and Distributed Systems, vol. 6, no. 2, pp 211-215, Feb. 1995 
(co-authored with De-Lei Lee).

<li> <em> Minimizing Communication in the Bitonic Sort</em>, IEEE Trans. on Parallel and Distributed Systems, vol. 11, no. 5, pp 459-474, May 2000 (co-authored with Jae-Dong Lee).
 
</ol>
<hr>
<A HREF="index.html">Kenneth E. Batcher</A> - 7/3/2000