<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="To memorialize the life and archive the work of Kenneth E. Batcher">
<meta name="keywords" content="mpp, goodyear, aerospace, aspro, staran">
<meta name="author" content="Capstone group">
<title>The Kenneth Batcher Memorial Website</title>
<link rel="stylesheet" href="./css/style.css">
<script src="./scripts/head.js" defer></script>

</head>

<body>
	<div class="header">
		<h1 align="center">The Kenneth Batcher Memorial Website</h1>
	</div>

	<div id = "navbar">
		<div class = "topnav-right">
				<a href="index.php?page=home">Home</a>
				<a href="index.php?page=bio">Biography</a>
				<a href="index.php?page=archive">Archive</a>
				<a href="index.php?page=algorithms">Algorithms</a>
				<a href="index.php?page=faculty-page">Faculty Page</a>
		</div>
{{archive-tab-buttons}}
	</div>

<main>
{{main-body}}
</main>

<footer>
	<p>Kent State University, Copyright &copy; 2020 to {{curr_year}}</p>
</footer>
<script>
document.body.addEventListener('click', event => {
	if (event.target.classList.contains('external-link')) {
		if (!confirm(`The following link connects to an external resource. Please confirm your choice to navigate to this URL: ${event.target.href}`)) {
			event.preventDefault();
		}
	}
});
</script>
</body>
</html>
