<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="To memorialize the life and archive the work of Kenneth E. Batcher">
<meta name="keywords" content="mpp, goodyear, aerospace, aspro, staran">
<meta name="author" content="Capstone group">
<title>The Kenneth Batcher Archives</title>
<link rel="stylesheet" href="./css/style.css">

</head>

<body>
<header>
	<h1>The Kenneth Batcher Archive</h1>
	<nav>
		<ul>
			<li><a href="index.php?page=home">Home</a></li>
			<li><a href="index.php?page=bio">Biography</a></li>
			<li><a href="index.php?page=archive">Archive</a></li>
			<li><a href="index.php?page=algorithms">Algorithms</a></li>
			<li><a href="index.php?page=faculty-page">Faculty Page</a></li>
		</ul>
	</nav>
</header>

<main>
{{main-body}}
</main>

<footer>
	<p>Kent State University, Copyright &copy; 2020</p>
</footer>
</body>
</html>