<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="To memorialize the life and archive the work of Kenneth E. Batcher">
<meta name="keywords" content="mpp, goodyear, aerospace, aspro, staran">
<meta name="author" content="Capstone group">
<title>The Kenneth Batcher Archives</title>
<link rel="stylesheet" href="./css/style.css">

</head>

<body>
<header>
	<div class="container">
		<div id="welcome">
			<h1><span class="highlight">The Kenneth Batcher Archive</span></h1>
		</div>
		<nav>
			<ul>
				<li><a href="index.php?page=home">Home</a></li>
				<li><a href="index.php?page=bio">Biography</a></li>
				<li><a href="index.php?page=archive">Archive</a></li>
				<li><a href="index.php?page=algorithms">Algorithms</a></li>
			</ul>
		</nav>
	</div>
</header>


{{main-body}}


<footer>
	<p>Kent State University, Copyright &copy; 2020</p>
</footer>
</body>
</html>