<link rel="stylesheet" href="./css/algorithm__info.css" />

<div class="alg__info__root">
  <a href="index.php?page=algorithms">
    <div class="back__arrow__container">
      <img src="./img/left-icon.png" />
      <p>Back</p>
    </div>
  </a>
  <div class="alg__info__content">
    <h1>Odd Even Merge Sort</h1>
    <iframe
      src="https://www.youtube.com/embed/DNbd1EFQ_1o"
      title="Odd Even Merge Sort"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p>
      Batcher's odd–even mergesort is a generic construction devised by Ken
      Batcher for sorting networks of size O(n (log n)<sup>2</sup>) and depth
      O((log n)<sup>2</sup>), where n is the number of items to be sorted.
      Although it is not asymptotically optimal, Knuth concluded in 1998, with
      respect to the AKS network that "Batcher's method is much better, unless n
      exceeds the total memory capacity of all computers on earth!"
    </p>
  </div>
</div>
