<link rel="stylesheet" href="./css/algorithm__info.css" />

<div class="alg__info__root">
  <a href="index.php?page=algorithms">
    <div class="back__arrow__container">
      <img src="./img/left-icon.png" />
      <p>Back</p>
    </div>
  </a>
  <div class="alg__info__content">
    <h1>Odd Even Merge Sort</h1>
    <iframe
      src="https://www.youtube.com/embed/DNbd1EFQ_1o"
      title="Odd Even Merge Sort"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p>
      The odd-even merge sort algorithm is one of the two well-known parallel
      sorting algorithms developed by Dr. Batcher. It is based on a merge
      algorithm that merges two sorted halves of a sequence to a completely
      sorted sequence. However, the odd-even merge sort is not data dependent.
      This makes it possible to implement the algorithm as a sorting network.
      While the algorithm is not asymptotically optimal, Donald Knuth has
      concluded that compared to the AKS network, “Batcher’s method is much
      better, unless n exceeds the total memory capacity of all computers on
      earth!”
    </p>
  </div>
</div>
