<p>
U.S. patents with Kenneth E. Batcher as the inventor or one of the 
inventors.  The patent number is followed by the title and the year 
issued.
<p>
<hr>
<ul>

<li> 3,183,363 <em> Logic Mechanization System</em> 1965 (multiple 
inventors)

<li> 3,300,762 <em> Multiple Response Resolver Apparatus</em> 1967 

<li> 3,418,632 <em> Means for Merging Sequences of Data</em> 1968
	
<li> 3,428,946 <em> Means for Merging Data</em> 1969

<li> 3,605,024 <em> Apparatus for Shifting Data in a Long 
Register</em> 1971

<li> 3,681,781 <em> Storing and Retrieval Method</em> 1972

<li> 3,711,692 <em> Determination of Number of Ones in a Data Field 
by Addition</em> 1973

<li> 3,786,448 <em> Multiple Access Plated Wire Memory</em> 1974 
(multiple inventors)

<li> 3,800,289 <em> Multi-Dimensional Access Solid State 
Memory</em> 1974
            
<li> 3,812,467 <em> Permutation Network</em> 1974

<li> 3,936,806 <em> Solid State Associative Processor 
Organization</em> 1976
            
<li> 4,314,349 <em> Processing Element for Parallel Array 
Processors</em> 1982
            
<li> 4,727,474 <em> Staging Memory for Massively Parallel 
Processor</em> 1988

<li> 5,153,843 <em> Layout of Large Multistage Interconnection 
Networks</em> 1992

</ul>
<hr>
<A HREF="index.html">Kenneth E. Batcher</A>