<CENTER><H2>ACESS STEM Scholarships - 2015</H2></CENTER>
This year, ACESS has received more contributions to its scholarship fund so it will
awarding <B>four</B> scholarships to upperclassmen majoring in STEM fields at 
The University of Akron or Kent State University.
<p>
Members of the university faculty can nominate upperclassmen 
for these scholarships by sending one or more e-mails to <B>scholarships@acessinc.org</B> 
on or before <B>March 30, 2015</B> (the first day after Spring Break.) After that date, 
the ACESS Education Committee will review all the e-mails to select the awardees.
<p>
Nominees must be students majoring in a STEM field who are expected to be Juniors or 
Seniors during the Fall 2015 semester.  Students that are in the second half of their 
Sophomore year during the Spring 2015 semester can be nominated since we can expect that 
they will be Juniors during the Fall 2015 semester. 
<p>
Faculty nominations can be spread across multiple e-mails as long as the 
<B>Subject Line</B> of each e-mail shows the name of the nominee.  Letters of support 
and other items can be attached to these e-mails.

The <B>Body</B> of the first e-mail should show:

(1) the name of the nominee;
(2) his/her major; 
(3) expected graduation date; 
(4) student ID number; 
(5) e-mail address; and 
(6) local phone number.

<p>
Faculty members should be aware that <B>FERPA</B> grants students certain privacy rights 
to their data, so they should get the nominee's permission before mentioning sensitive 
items like the GPA, course grades, etc.  To comply with <B>FERPA</B>, the ACESS 
Education Committee will delete all nomination data after it has determined the 
scholarship awardees.   
<p>
Each nominee can add his/her own statement by sending it to 
<B>scholarships@acessinc.org</B> on or before <B>March 30, 2015</B> with his/her own
name in the Subject Line.  <a href="./docs/NomineeStatement.pdf">Click here for suggestions of
what a nominee might want to include in his/her own statement.</a>      
<p>
<li> Send e-mail to <B>kbatcher@kent.edu</B> if you have any questions.
</ul>
<hr>
K. E. Batcher, Chair of the ACESS Education Committee - 3/16/2015.